In [3]:
import pandas as pd
import numpy as np

In [8]:
data = {
    'Depth (m)':np.random.uniform(1000,5000,10),
    'Total Vertical Depth (m)': np.random.uniform(1500, 8000, 10),
    'ROP (m/h)': np.random.uniform(5, 25, 10),
    'Weight On Bit Driller (klbm)': np.random.uniform(2000, 6000, 10),
    'Surface Torque (klbf.ft)': np.random.uniform(1000, 4000, 10),
    'Surface RPM': np.random.uniform(80, 150, 10)
}

In [9]:
print(data)

{'Depth (m)': array([4016.79763516, 1828.9065829 , 2012.13704359, 3884.79530937,
       3247.24430442, 3675.58501194, 1837.3077503 , 4470.97212688,
       4653.85130251, 1988.36661732]), 'Total Vertical Depth (m)': array([2391.79926901, 7306.5221107 , 4273.73077047, 4687.15114423,
       4031.62746359, 2896.86378577, 3227.07625219, 2538.71666318,
       7568.05194268, 4228.13817955]), 'ROP (m/h)': array([16.1695606 ,  8.41841396, 14.80271973,  5.74106617,  9.17152623,
        8.65584329, 21.30411308, 16.96185009,  5.24218823, 13.87698646]), 'Weight On Bit Driller (klbm)': array([5678.37962008, 2836.20137473, 4677.78800809, 3079.29829479,
       2970.5678996 , 5127.68838721, 5636.89811935, 4057.0141077 ,
       5661.00744702, 2541.72616344]), 'Surface Torque (klbf.ft)': array([1742.77599734, 1487.93822354, 3954.57825902, 1306.57368238,
       1990.39871041, 2911.04363468, 3766.42640803, 3755.15899474,
       1808.03084271, 1908.87439881]), 'Surface RPM': array([123.4975941 , 111.65906111, 133.63430938, 107.40314905,
       128.06652177, 145.96753579,  91.48068455, 110.95631779,
       104.1818676 , 143.52377963])}

In [10]:
df=pd.DataFrame(data)

In [11]:
print(df)

     Depth (m)  Total Vertical Depth (m)  ROP (m/h)  \
0  4016.797635               2391.799269  16.169561
1  1828.906583               7306.522111   8.418414
2  2012.137044               4273.730770  14.802720
3  3884.795309               4687.151144   5.741066
4  3247.244304               4031.627464   9.171526
5  3675.585012               2896.863786   8.655843
6  1837.307750               3227.076252  21.304113
7  4470.972127               2538.716663  16.961850
8  4653.851303               7568.051943   5.242188
9  1988.366617               4228.138180  13.876986

   Weight On Bit Driller (klbm)  Surface Torque (klbf.ft)  Surface RPM
0                   5678.379620               1742.775997   123.497594
1                   2836.201375               1487.938224   111.659061
2                   4677.788008               3954.578259   133.634309
3                   3079.298295               1306.573682   107.403149
4                   2970.567900               1990.398710   128.066522
5                   5127.688387               2911.043635   145.967536
6                   5636.898119               3766.426408    91.480685
7                   4057.014108               3755.158995   110.956318
8                   5661.007447               1808.030843   104.181868
9                   2541.726163               1908.874399   143.523780

In [12]:
high_rop_rows = df[df['ROP (m/h)']>15]

In [13]:
print(high_rop_rows)

     Depth (m)  Total Vertical Depth (m)  ROP (m/h)  \
0  4016.797635               2391.799269  16.169561
6  1837.307750               3227.076252  21.304113
7  4470.972127               2538.716663  16.961850

   Weight On Bit Driller (klbm)  Surface Torque (klbf.ft)  Surface RPM
0                   5678.379620               1742.775997   123.497594
6                   5636.898119               3766.426408    91.480685
7                   4057.014108               3755.158995   110.956318

In [14]:
import os

In [15]:
print("Working directory: ", os.getcwd())

Working directory:  C:\Users\peter\Documents\dataanalytics

In [16]:
type(os.getcwd())

str

In [17]:
type(df)

pandas.core.frame.DataFrame

In [18]:
file_path = 'Data//ASCII//Well-CSV-1_GSS_DDRL_201229_5618.0m_TD.csv'
df = pd.read_csv(file_path)

In [19]:
print(df)

       Depth (m)  Total Vertical Depth (m)   ROP (m/h)  Weight On Hook (klbm)  \
0          325.0                    325.00       30.59                 358.97
1          325.5                    325.50       24.71                 359.40
2          326.0                    326.00       25.18                 359.18
3          326.5                    326.50       21.11                 358.90
4          327.0                    327.00       26.31                 357.47
...          ...                       ...         ...                    ...
10583     5616.5                   5614.32       28.13                 743.99
10584     5617.0                   5614.82       17.71                 745.21
10585     5617.5                   5615.32       20.00                 744.24
10586     5618.0                   5615.82       20.49                 741.63
10587     5618.5                   5616.32       16.48                 746.16

       Weight On Bit Driller (klbm)  Surface Torque (klbf.ft)  \
0                              0.00                      0.11
1                              0.00                      0.11
2                              0.00                      0.12
3                              0.00                      0.12
4                              0.00                      0.12
...                             ...                       ...
10583                         24.15                     16.48
10584                         22.88                     16.66
10585                         23.97                     17.33
10586                         26.49                     18.46
10587                         23.08                     17.21

       Torque Min (klbf.ft)  Torque Max (klbf.ft)  \
0                      0.13                  0.10
1                      0.13                  0.10
2                      0.14                  0.10
3                      0.14                  0.10
4                      0.14                  0.10
...                     ...                   ...
10583                 14.88                 18.27
10584                 15.29                 18.10
10585                 15.85                 19.03
10586                 16.84                 20.14
10587                 14.05                 21.46

       Total RPM [Surface + DHM] (1/min)  DownHole RPM (1/min)  ...  \
0                                      0               -999.25  ...
1                                      0               -999.25  ...
2                                      0               -999.25  ...
3                                      0               -999.25  ...
4                                      0               -999.25  ...
...                                  ...                   ...  ...
10583                                144               -999.25  ...
10584                                143               -999.25  ...
10585                                142               -999.25  ...
10586                                143               -999.25  ...
10587                                132               -999.25  ...

       Pump4 Speed (1/min)  Mud Weight In at Bit (g/cm3)  \
0                        0                         1.071
1                        0                         1.073
2                        0                         1.073
3                        0                         1.073
4                        0                         1.073
...                    ...                           ...
10583                   80                         1.510
10584                   80                         1.510
10585                   80                         1.510
10586                   80                         1.510
10587                   80                         1.510

       Mud Weight Out (g/cm3)  Temperature In (degC)  Temperature Out (degC)  \
0                       0.000                   41.8                    29.0
1                       0.000                   41.8                    29.0
2                       0.000                   41.8                    29.1
3                       0.000                   41.8                    29.0
4                       0.000                   41.8                    29.1
...                       ...                    ...                     ...
10583                   1.499                   44.7                    56.5
10584                   1.475                   44.7                    56.6
10585                   1.481                   44.7                    55.9
10586                   1.495                   44.7                    56.9
10587                   1.442                   44.8                    57.1

       D-Exponent (h)  Pump time (h)  Bit Time (h)  \
0          -999.25000           0.25          0.04
1          -999.25000           0.26          0.05
2          -999.25000           0.28          0.07
3          -999.25000           0.31          0.10
4          -999.25000           0.33          0.12
...               ...            ...           ...
10583         0.91556          57.76         34.79
10584         1.02882          57.79         34.82
10585         1.00908          57.81         34.85
10586         1.00454          57.84         34.87
10587         1.01565          57.93         34.90

       TotalSurfaceCumRevOnBottom (bbl)  PSACTIVE (bbl)
0                                     0          458.60
1                                     0          459.23
2                                     0          459.39
3                                     0          459.22
4                                     0          459.37
...                                 ...             ...
10583                            301562         1020.43
10584                            301819         1020.34
10585                            302020         1020.37
10586                            302204         1020.24
10587                            302454         1020.05

[10588 rows x 25 columns]

In [20]:
import lasio

In [21]:
las_file_path = 'Data//LAS//Ironbark-1_L601_PWD_FNL_5618_210107.las'

In [22]:
wellDepth = lasio.read(las_file_path)

In [23]:
type(wellDepth)

lasio.las.LASFile

In [24]:
print(wellDepth)

<lasio.las.LASFile object at 0x00000240B63F7C50>

In [25]:
print(wellDepth.df())

                  TVD       ROP5        GR     BS     ADIA     DCAV      BLKP  \
DEPT
5149.9008  5147.71845  363.04760  139.8307  12.25  8.60851  9.97827  22.17362
5150.0532  5147.87085  365.89540  141.5770  12.25  8.60683  9.78155  22.01093
5150.2056  5148.02325  368.29870  141.4976  12.25  8.61056  9.83512  21.79732
5150.3580  5148.17565  370.60490  139.5926  12.25  8.61349  9.80798  21.69250
5150.5104  5148.32805  373.38760  139.3280  12.25  8.61627  9.62278  21.48180
...               ...        ...       ...    ...      ...      ...       ...
5617.4640  5615.27859   19.56661       NaN   8.50      NaN      NaN   3.07155
5617.6164  5615.43099   18.50491       NaN   8.50      NaN      NaN   2.91472
5617.7688  5615.58339   18.74196       NaN   8.50      NaN      NaN   2.74509
5617.9212  5615.73579   22.40186       NaN   8.50      NaN      NaN   2.59593
5618.0736  5615.88818   22.31246       NaN   8.50      NaN      NaN   2.45398

                HKLA      SWOB   CRPM  ...  SHKRSK  SHOCKS_ACC  VIB_LAT  \
DEPT                                   ...
5149.9008  726.17646  -7.92256    NaN  ...     NaN         NaN      NaN
5150.0532  725.37375  -5.54208    NaN  ...     NaN         NaN      NaN
5150.2056  722.63870  -5.20610    NaN  ...     NaN         NaN      NaN
5150.3580  721.46187  -3.13933    NaN  ...     NaN         NaN      NaN
5150.5104  721.44357  -3.03448    NaN  ...     NaN         NaN      NaN
...              ...       ...    ...  ...     ...         ...      ...
5617.4640  706.53062  22.46012    NaN  ...     NaN         NaN      NaN
5617.6164  707.52844  21.07552  128.0  ...     0.0         0.0  0.24983
5617.7688  708.46364  20.19687    NaN  ...     NaN         NaN      NaN
5617.9212  706.43384  22.33131  144.0  ...     0.0         0.0  0.24983
5618.0736  708.96475  19.82329  152.0  ...     NaN         NaN  0.24983

             VIB_X       TFLO        SPPA    TRPM         DHAP   DHAT      ECD
DEPT
5149.9008      NaN        NaN  2478.39326     NaN  11236.27805  107.0  1.53537
5150.0532      NaN  546.15535  2484.90690     NaN  11228.92463  107.0  1.53432
5150.2056      NaN        NaN  2495.32496     NaN  11224.99991  107.0  1.53376
5150.3580      NaN        NaN  2502.69143     NaN  11224.66052  107.0  1.53364
5150.5104      NaN  546.15535  2499.73121     NaN  11224.42846  107.0  1.53357
...            ...        ...         ...     ...          ...    ...      ...
5617.4640      NaN  651.37797  3583.66494     NaN          NaN    NaN      NaN
5617.6164  0.12492  646.36742  3591.54049  3584.0          NaN    NaN      NaN
5617.7688      NaN  651.37797  3605.66282     NaN          NaN    NaN      NaN
5617.9212  0.12492  646.36742  3609.01609  3582.0          NaN    NaN      NaN
5618.0736  0.12492  651.37797  3563.08844     NaN          NaN    NaN      NaN

[3073 rows x 26 columns]

In [26]:
type(wellDepth.df())

pandas.core.frame.DataFrame

In [27]:
las_file_path = 'Data/LAS/Ironbark-1_L601_PWD_FNL_TIME_210107.las'
wellTime = lasio.read(las_file_path)

In [28]:
print(wellTime.df())

                              TIME  ROP5      DEPTH      BLKP       HKLA  \
TIME_1900
44190.842662  20:13:26/25-Dec-2020   NaN    0.27258   2.92894  218.12563
44190.842778  20:13:36/25-Dec-2020   NaN    0.28465   2.92894  218.41633
44190.842894  20:13:46/25-Dec-2020   NaN    0.29010   2.92894  218.19556
44190.843009  20:13:56/25-Dec-2020   NaN    0.27714   2.92894  218.11945
44190.843125  20:14:06/25-Dec-2020   NaN    0.29177   2.92894  218.47299
...                            ...   ...        ...       ...        ...
44195.407361  09:46:36/30-Dec-2020   NaN  139.03198  18.79906  229.36673
44195.407477  09:46:46/30-Dec-2020   NaN  138.91693  18.79906  228.54287
44195.407593  09:46:56/30-Dec-2020   NaN  139.01949  18.79906  229.15663
44195.407708  09:47:06/30-Dec-2020   NaN  138.92279  18.79906  228.57770
44195.407824  09:47:16/30-Dec-2020   NaN  139.05611  18.79906  229.13062

              SWOB  SHKL:1  SHKL:2  SHKL:3  SHKRSK  ...  STICKNSLIP  TFLO  \
TIME_1900                                           ...
44190.842662   0.0     0.0     NaN     0.0     NaN  ...         NaN   NaN
44190.842778   0.0     0.0     NaN     0.0     NaN  ...         NaN   0.0
44190.842894   0.0     0.0     NaN     0.0     NaN  ...         NaN   0.0
44190.843009   0.0     0.0     NaN     NaN     NaN  ...         NaN   0.0
44190.843125   0.0     0.0     NaN     0.0     NaN  ...         NaN   0.0
...            ...     ...     ...     ...     ...  ...         ...   ...
44195.407361   0.0     0.0     NaN     NaN     NaN  ...         NaN   0.0
44195.407477   0.0     0.0     NaN     NaN     NaN  ...         NaN   0.0
44195.407593   0.0     0.0     NaN     NaN     NaN  ...         NaN   0.0
44195.407708   0.0     0.0     NaN     NaN     NaN  ...         NaN   0.0
44195.407824   0.0     0.0     NaN     NaN     NaN  ...         NaN   0.0

                  SPPA  TRPM      DHAP  DHAT      ECD  ESD  ESD_MAX  ESD_MIN
TIME_1900
44190.842662       NaN   NaN  66.00000  32.0      NaN  NaN      NaN      NaN
44190.842778  15.21288   NaN  66.99999  32.0      NaN  NaN      NaN      NaN
44190.842894  15.17578   NaN  66.99999  32.0      NaN  NaN      NaN      NaN
44190.843009  15.17279   NaN  66.00000  32.0      NaN  NaN      NaN      NaN
44190.843125  15.16193   NaN  66.99999  32.0      NaN  NaN      NaN      NaN
...                ...   ...       ...   ...      ...  ...      ...      ...
44195.407361  16.31917   NaN  12.00000  38.0  0.06637  NaN      NaN      NaN
44195.407477  16.31799   NaN  12.00000  38.0  0.06642  NaN      NaN      NaN
44195.407593  16.32816   NaN  13.00000  38.0  0.07194  NaN      NaN      NaN
44195.407708  16.32104   NaN  12.00000  38.0  0.06645  NaN      NaN      NaN
44195.407824  16.31978   NaN  12.00000  38.0  0.06638  NaN      NaN      NaN

[39444 rows x 26 columns]

In [31]:
from bs4 import BeautifulSoup

In [34]:
WITSML_file = "Data//WITSML//1-1.xml"

with open(WITSML_file) as f:
    data = f.read()

In [35]:
data_xml = BeautifulSoup(data,'xml')

In [36]:
type(data_xml)

bs4.BeautifulSoup

In [43]:
temp = set([str(tag.name) for tag in data_xml.find_all()])

In [40]:
type(temp)

set

In [44]:
temp

{'azi',
 'aziRef',
 'aziVertSect',
 'commonData',
 'dTimCreation',
 'dTimLastChange',
 'dTimStn',
 'dTimTrajEnd',
 'dTimTrajStart',
 'dispEw',
 'dispEwVertSectOrig',
 'dispNs',
 'dispNsVertSectOrig',
 'dls',
 'gridCorUsed',
 'incl',
 'itemState',
 'magDeclUsed',
 'md',
 'mdDelta',
 'mdMn',
 'mdMx',
 'name',
 'nameWell',
 'nameWellbore',
 'priv_customData',
 'priv_dTimReceived',
 'priv_ipLastChange',
 'priv_ipOwner',
 'priv_userLastChange',
 'priv_userOwner',
 'rateBuild',
 'rateTurn',
 'serviceCompany',
 'sourceName',
 'statusTrajStation',
 'trajectory',
 'trajectoryStation',
 'trajectorys',
 'tvd',
 'tvdDelta',
 'typeSurveyTool',
 'typeTrajStation',
 'vertSect'}

In [51]:
columns = ['md', 'tvd', 'incl', 'azi', 'dispNs', 'dispEw']
df = pd.DataFrame()

In [46]:
df

Empty DataFrame
Columns: []
Index: []

In [47]:
type(df)

pandas.core.frame.DataFrame

In [52]:
for col in columns:
    df[col] = [float(x.text) for x in data_xml.find_all(col)]

In [53]:
df

             md          tvd      incl       azi      dispNs      dispEw
0      0.000000     0.000000  0.000000  0.000000   -3.170000    3.530000
1    145.899994   145.899994  0.000000  0.000000   -3.170000    3.530000
2    153.399994   153.399985  0.002618  4.427726   -3.172757    3.520578
3    234.199997   234.199627  0.004887  2.548530   -3.366177    3.529412
4    274.600006   274.597786  0.013614  2.377313   -3.646544    3.774881
..          ...          ...       ...       ...         ...         ...
75  3118.280029  2938.419040  0.382925  4.469265 -699.230295 -217.451880
76  3158.540039  2975.709107  0.390081  4.471534 -702.866857 -232.185777
77  3199.020020  3013.291014  0.371232  4.470487 -706.461696 -246.789120
78  3211.780029  3025.193506  0.366170  4.460363 -707.585751 -251.248326
79  3232.000000  3044.073003  0.366170  4.460363 -709.391062 -258.259222

[80 rows x 6 columns]

In [55]:
import matplotlib
matplotlib.use('TkAgg')

import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

In [59]:
fig = plt.figure()
ax = fig.add_subplot(projection='3d')

ax.plot(df['dispNs'], df['dispEw'], df['tvd']*-1, '-r', linewidth = 2)

In [60]:
ax.get_proj = lambda: np.dot(Axes3D.get_proj(ax), np.diag([0.5, 0.5,1.5, 1]))
 
fig.show()