In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    'Depth (m)': np.random.uniform(1000, 5000, 10),
    'Total Vertical Depth (m)': np.random.uniform(1500, 8000, 10),
    'ROP (m/h)': np.random.uniform(5, 25, 10),
    'Weight On Bit Driller (klbm)': np.random.uniform(2000, 6000, 10),
    'Surface Torque (klbf.ft)': np.random.uniform(1000, 4000, 10),
    'Surface RPM': np.random.uniform(80, 150, 10)
}

print(data)

{'Depth (m)': array([2546.47665447, 3346.45941113, 2307.60711217, 1632.51151365,
       3270.16820797, 4385.92987948, 4273.39492649, 1612.41630369,
       3001.41919728, 4768.05934192]), 'Total Vertical Depth (m)': array([4185.03483611, 2932.19468459, 7679.58265944, 2472.95571991,
       6355.96065691, 5280.67005567, 6114.58529256, 5689.9494384 ,
       3474.59783596, 3978.60214714]), 'ROP (m/h)': array([13.1946177 ,  9.55103078, 11.55678371, 21.44582644, 13.11969438,
       15.41795098, 21.15862737,  6.51679772, 15.73622484, 21.11672405]), 'Weight On Bit Driller (klbm)': array([5628.11741274, 2526.77180214, 4683.96908949, 3150.40524157,
       5451.67262159, 4915.06451921, 2874.92190334, 4353.14560559,
       4014.83351283, 2088.26726831]), 'Surface Torque (klbf.ft)': array([3242.94347408, 2186.26505273, 2290.12886879, 2545.77554504,
       1343.7719465 , 2011.08133786, 2334.33427001, 2943.06434732,
       3387.4155744 , 1818.81868779]), 'Surface RPM': array([ 97.41030954,  82.04958752, 120.45345691,  86.39950235,
        97.45497452, 103.82552548, 136.46564273,  83.63820131,
       139.35281155, 124.85621216])}

In [3]:
df = pd.DataFrame(data)

print("Matriz Pandas:")
print(df)

Matriz Pandas:
     Depth (m)  Total Vertical Depth (m)  ROP (m/h)  \
0  2546.476654               4185.034836  13.194618
1  3346.459411               2932.194685   9.551031
2  2307.607112               7679.582659  11.556784
3  1632.511514               2472.955720  21.445826
4  3270.168208               6355.960657  13.119694
5  4385.929879               5280.670056  15.417951
6  4273.394926               6114.585293  21.158627
7  1612.416304               5689.949438   6.516798
8  3001.419197               3474.597836  15.736225
9  4768.059342               3978.602147  21.116724

   Weight On Bit Driller (klbm)  Surface Torque (klbf.ft)  Surface RPM
0                   5628.117413               3242.943474    97.410310
1                   2526.771802               2186.265053    82.049588
2                   4683.969089               2290.128869   120.453457
3                   3150.405242               2545.775545    86.399502
4                   5451.672622               1343.771947    97.454975
5                   4915.064519               2011.081338   103.825525
6                   2874.921903               2334.334270   136.465643
7                   4353.145606               2943.064347    83.638201
8                   4014.833513               3387.415574   139.352812
9                   2088.267268               1818.818688   124.856212

In [4]:
high_rop_rows = df[df['ROP (m/h)'] > 15]

print("Rows where ROP exceeds 15:")
print(high_rop_rows)

Rows where ROP exceeds 15:
     Depth (m)  Total Vertical Depth (m)  ROP (m/h)  \
3  1632.511514               2472.955720  21.445826
5  4385.929879               5280.670056  15.417951
6  4273.394926               6114.585293  21.158627
8  3001.419197               3474.597836  15.736225
9  4768.059342               3978.602147  21.116724

   Weight On Bit Driller (klbm)  Surface Torque (klbf.ft)  Surface RPM
3                   3150.405242               2545.775545    86.399502
5                   4915.064519               2011.081338   103.825525
6                   2874.921903               2334.334270   136.465643
8                   4014.833513               3387.415574   139.352812
9                   2088.267268               1818.818688   124.856212

In [6]:
import os

print("Working directory:", os.getcwd())

Working directory: C:\Users\peter\Documents\dataanalytics

In [8]:
file_path = 'Data//ASCII//Well-CSV-1_GSS_DDRL_201229_5618.0m_TD.csv'
df = pd.read_csv(file_path)

print("CSV file dataframe:")
print(df)

CSV file dataframe:
       Depth (m)  Total Vertical Depth (m)   ROP (m/h)  Weight On Hook (klbm)  \
0          325.0                    325.00       30.59                 358.97
1          325.5                    325.50       24.71                 359.40
2          326.0                    326.00       25.18                 359.18
3          326.5                    326.50       21.11                 358.90
4          327.0                    327.00       26.31                 357.47
...          ...                       ...         ...                    ...
10583     5616.5                   5614.32       28.13                 743.99
10584     5617.0                   5614.82       17.71                 745.21
10585     5617.5                   5615.32       20.00                 744.24
10586     5618.0                   5615.82       20.49                 741.63
10587     5618.5                   5616.32       16.48                 746.16

       Weight On Bit Driller (klbm)  Surface Torque (klbf.ft)  \
0                              0.00                      0.11
1                              0.00                      0.11
2                              0.00                      0.12
3                              0.00                      0.12
4                              0.00                      0.12
...                             ...                       ...
10583                         24.15                     16.48
10584                         22.88                     16.66
10585                         23.97                     17.33
10586                         26.49                     18.46
10587                         23.08                     17.21

       Torque Min (klbf.ft)  Torque Max (klbf.ft)  \
0                      0.13                  0.10
1                      0.13                  0.10
2                      0.14                  0.10
3                      0.14                  0.10
4                      0.14                  0.10
...                     ...                   ...
10583                 14.88                 18.27
10584                 15.29                 18.10
10585                 15.85                 19.03
10586                 16.84                 20.14
10587                 14.05                 21.46

       Total RPM [Surface + DHM] (1/min)  DownHole RPM (1/min)  ...  \
0                                      0               -999.25  ...
1                                      0               -999.25  ...
2                                      0               -999.25  ...
3                                      0               -999.25  ...
4                                      0               -999.25  ...
...                                  ...                   ...  ...
10583                                144               -999.25  ...
10584                                143               -999.25  ...
10585                                142               -999.25  ...
10586                                143               -999.25  ...
10587                                132               -999.25  ...

       Pump4 Speed (1/min)  Mud Weight In at Bit (g/cm3)  \
0                        0                         1.071
1                        0                         1.073
2                        0                         1.073
3                        0                         1.073
4                        0                         1.073
...                    ...                           ...
10583                   80                         1.510
10584                   80                         1.510
10585                   80                         1.510
10586                   80                         1.510
10587                   80                         1.510

       Mud Weight Out (g/cm3)  Temperature In (degC)  Temperature Out (degC)  \
0                       0.000                   41.8                    29.0
1                       0.000                   41.8                    29.0
2                       0.000                   41.8                    29.1
3                       0.000                   41.8                    29.0
4                       0.000                   41.8                    29.1
...                       ...                    ...                     ...
10583                   1.499                   44.7                    56.5
10584                   1.475                   44.7                    56.6
10585                   1.481                   44.7                    55.9
10586                   1.495                   44.7                    56.9
10587                   1.442                   44.8                    57.1

       D-Exponent (h)  Pump time (h)  Bit Time (h)  \
0          -999.25000           0.25          0.04
1          -999.25000           0.26          0.05
2          -999.25000           0.28          0.07
3          -999.25000           0.31          0.10
4          -999.25000           0.33          0.12
...               ...            ...           ...
10583         0.91556          57.76         34.79
10584         1.02882          57.79         34.82
10585         1.00908          57.81         34.85
10586         1.00454          57.84         34.87
10587         1.01565          57.93         34.90

       TotalSurfaceCumRevOnBottom (bbl)  PSACTIVE (bbl)
0                                     0          458.60
1                                     0          459.23
2                                     0          459.39
3                                     0          459.22
4                                     0          459.37
...                                 ...             ...
10583                            301562         1020.43
10584                            301819         1020.34
10585                            302020         1020.37
10586                            302204         1020.24
10587                            302454         1020.05

[10588 rows x 25 columns]

In [9]:
import lasio

las_file_path = 'Data/LAS/Ironbark-1_L601_PWD_FNL_5618_210107.las'

wellDepth = lasio.read(las_file_path)

print("\nData:")
print(wellDepth.df())


las_file_path = 'Data/LAS/Ironbark-1_L601_PWD_FNL_TIME_210107.las'

wellTime = lasio.read(las_file_path)

print("\nData:")
print(wellTime.df())

Data:
                  TVD       ROP5        GR     BS     ADIA     DCAV      BLKP  \
DEPT
5149.9008  5147.71845  363.04760  139.8307  12.25  8.60851  9.97827  22.17362
5150.0532  5147.87085  365.89540  141.5770  12.25  8.60683  9.78155  22.01093
5150.2056  5148.02325  368.29870  141.4976  12.25  8.61056  9.83512  21.79732
5150.3580  5148.17565  370.60490  139.5926  12.25  8.61349  9.80798  21.69250
5150.5104  5148.32805  373.38760  139.3280  12.25  8.61627  9.62278  21.48180
...               ...        ...       ...    ...      ...      ...       ...
5617.4640  5615.27859   19.56661       NaN   8.50      NaN      NaN   3.07155
5617.6164  5615.43099   18.50491       NaN   8.50      NaN      NaN   2.91472
5617.7688  5615.58339   18.74196       NaN   8.50      NaN      NaN   2.74509
5617.9212  5615.73579   22.40186       NaN   8.50      NaN      NaN   2.59593
5618.0736  5615.88818   22.31246       NaN   8.50      NaN      NaN   2.45398

                HKLA      SWOB   CRPM  ...  SHKRSK  SHOCKS_ACC  VIB_LAT  \
DEPT                                   ...
5149.9008  726.17646  -7.92256    NaN  ...     NaN         NaN      NaN
5150.0532  725.37375  -5.54208    NaN  ...     NaN         NaN      NaN
5150.2056  722.63870  -5.20610    NaN  ...     NaN         NaN      NaN
5150.3580  721.46187  -3.13933    NaN  ...     NaN         NaN      NaN
5150.5104  721.44357  -3.03448    NaN  ...     NaN         NaN      NaN
...              ...       ...    ...  ...     ...         ...      ...
5617.4640  706.53062  22.46012    NaN  ...     NaN         NaN      NaN
5617.6164  707.52844  21.07552  128.0  ...     0.0         0.0  0.24983
5617.7688  708.46364  20.19687    NaN  ...     NaN         NaN      NaN
5617.9212  706.43384  22.33131  144.0  ...     0.0         0.0  0.24983
5618.0736  708.96475  19.82329  152.0  ...     NaN         NaN  0.24983

             VIB_X       TFLO        SPPA    TRPM         DHAP   DHAT      ECD
DEPT
5149.9008      NaN        NaN  2478.39326     NaN  11236.27805  107.0  1.53537
5150.0532      NaN  546.15535  2484.90690     NaN  11228.92463  107.0  1.53432
5150.2056      NaN        NaN  2495.32496     NaN  11224.99991  107.0  1.53376
5150.3580      NaN        NaN  2502.69143     NaN  11224.66052  107.0  1.53364
5150.5104      NaN  546.15535  2499.73121     NaN  11224.42846  107.0  1.53357
...            ...        ...         ...     ...          ...    ...      ...
5617.4640      NaN  651.37797  3583.66494     NaN          NaN    NaN      NaN
5617.6164  0.12492  646.36742  3591.54049  3584.0          NaN    NaN      NaN
5617.7688      NaN  651.37797  3605.66282     NaN          NaN    NaN      NaN
5617.9212  0.12492  646.36742  3609.01609  3582.0          NaN    NaN      NaN
5618.0736  0.12492  651.37797  3563.08844     NaN          NaN    NaN      NaN

[3073 rows x 26 columns]

Data:
                              TIME  ROP5      DEPTH      BLKP       HKLA  \
TIME_1900
44190.842662  20:13:26/25-Dec-2020   NaN    0.27258   2.92894  218.12563
44190.842778  20:13:36/25-Dec-2020   NaN    0.28465   2.92894  218.41633
44190.842894  20:13:46/25-Dec-2020   NaN    0.29010   2.92894  218.19556
44190.843009  20:13:56/25-Dec-2020   NaN    0.27714   2.92894  218.11945
44190.843125  20:14:06/25-Dec-2020   NaN    0.29177   2.92894  218.47299
...                            ...   ...        ...       ...        ...
44195.407361  09:46:36/30-Dec-2020   NaN  139.03198  18.79906  229.36673
44195.407477  09:46:46/30-Dec-2020   NaN  138.91693  18.79906  228.54287
44195.407593  09:46:56/30-Dec-2020   NaN  139.01949  18.79906  229.15663
44195.407708  09:47:06/30-Dec-2020   NaN  138.92279  18.79906  228.57770
44195.407824  09:47:16/30-Dec-2020   NaN  139.05611  18.79906  229.13062

              SWOB  SHKL:1  SHKL:2  SHKL:3  SHKRSK  ...  STICKNSLIP  TFLO  \
TIME_1900                                           ...
44190.842662   0.0     0.0     NaN     0.0     NaN  ...         NaN   NaN
44190.842778   0.0     0.0     NaN     0.0     NaN  ...         NaN   0.0
44190.842894   0.0     0.0     NaN     0.0     NaN  ...         NaN   0.0
44190.843009   0.0     0.0     NaN     NaN     NaN  ...         NaN   0.0
44190.843125   0.0     0.0     NaN     0.0     NaN  ...         NaN   0.0
...            ...     ...     ...     ...     ...  ...         ...   ...
44195.407361   0.0     0.0     NaN     NaN     NaN  ...         NaN   0.0
44195.407477   0.0     0.0     NaN     NaN     NaN  ...         NaN   0.0
44195.407593   0.0     0.0     NaN     NaN     NaN  ...         NaN   0.0
44195.407708   0.0     0.0     NaN     NaN     NaN  ...         NaN   0.0
44195.407824   0.0     0.0     NaN     NaN     NaN  ...         NaN   0.0

                  SPPA  TRPM      DHAP  DHAT      ECD  ESD  ESD_MAX  ESD_MIN
TIME_1900
44190.842662       NaN   NaN  66.00000  32.0      NaN  NaN      NaN      NaN
44190.842778  15.21288   NaN  66.99999  32.0      NaN  NaN      NaN      NaN
44190.842894  15.17578   NaN  66.99999  32.0      NaN  NaN      NaN      NaN
44190.843009  15.17279   NaN  66.00000  32.0      NaN  NaN      NaN      NaN
44190.843125  15.16193   NaN  66.99999  32.0      NaN  NaN      NaN      NaN
...                ...   ...       ...   ...      ...  ...      ...      ...
44195.407361  16.31917   NaN  12.00000  38.0  0.06637  NaN      NaN      NaN
44195.407477  16.31799   NaN  12.00000  38.0  0.06642  NaN      NaN      NaN
44195.407593  16.32816   NaN  13.00000  38.0  0.07194  NaN      NaN      NaN
44195.407708  16.32104   NaN  12.00000  38.0  0.06645  NaN      NaN      NaN
44195.407824  16.31978   NaN  12.00000  38.0  0.06638  NaN      NaN      NaN

[39444 rows x 26 columns]

In [12]:
from bs4 import BeautifulSoup

WITSML_file = r"Data/WITSML/1-1.xml"

with open(WITSML_file) as f:
    data = f.read()
    
data_xml = BeautifulSoup(data, 'xml')
# Print the tags in the file
temp = set([str(tag.name) for tag in data_xml.find_all()])
print ("\n".join(temp))

statusTrajStation
dispNsVertSectOrig
priv_userLastChange
nameWell
dispEw
dispEwVertSectOrig
serviceCompany
typeTrajStation
trajectory
aziRef
tvdDelta
priv_dTimReceived
dTimTrajEnd
typeSurveyTool
name
gridCorUsed
dTimTrajStart
tvd
priv_ipOwner
dTimCreation
rateTurn
rateBuild
priv_ipLastChange
dTimLastChange
trajectorys
azi
priv_customData
sourceName
mdMn
nameWellbore
dls
vertSect
itemState
dTimStn
priv_userOwner
incl
magDeclUsed
trajectoryStation
aziVertSect
dispNs
commonData
mdDelta
md
mdMx

In [15]:
columns = ['md', 'tvd', 'incl', 'azi', 'dispNs', 'dispEw']
df = pd.DataFrame()

for col in columns:
    df[col] = [float(x.text) for x in data_xml.find_all(col)]

print(df)

             md          tvd      incl       azi      dispNs      dispEw
0      0.000000     0.000000  0.000000  0.000000   -3.170000    3.530000
1    145.899994   145.899994  0.000000  0.000000   -3.170000    3.530000
2    153.399994   153.399985  0.002618  4.427726   -3.172757    3.520578
3    234.199997   234.199627  0.004887  2.548530   -3.366177    3.529412
4    274.600006   274.597786  0.013614  2.377313   -3.646544    3.774881
..          ...          ...       ...       ...         ...         ...
75  3118.280029  2938.419040  0.382925  4.469265 -699.230295 -217.451880
76  3158.540039  2975.709107  0.390081  4.471534 -702.866857 -232.185777
77  3199.020020  3013.291014  0.371232  4.470487 -706.461696 -246.789120
78  3211.780029  3025.193506  0.366170  4.460363 -707.585751 -251.248326
79  3232.000000  3044.073003  0.366170  4.460363 -709.391062 -258.259222

[80 rows x 6 columns]

In [16]:
import matplotlib
matplotlib.use('TkAgg')

import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

## Plot the trajectory
fig = plt.figure()
ax = fig.add_subplot(projection='3d')
 
# define the axis parameters
ax.plot(df['dispNs'], df['dispEw'], df['tvd']*-1, '-r', linewidth = 2)
 
# format the plot
ax.set_xlabel('dispNs', size=20, labelpad=30)
ax.set_ylabel('dispEw', size=20, labelpad=30)
ax.set_zlabel('tvd', size=20, labelpad=30)
ax.tick_params(labelsize=15)
 
#set plot aspect ratio
ax.get_proj = lambda: np.dot(Axes3D.get_proj(ax), np.diag([0.5, 0.5,1.5, 1]))
 
fig.show()

In [17]:
las_file_path = 'Data/LAS/Barossa-6_24hrs Time Ascii_010517.LAS'

wellTime1 = lasio.read(las_file_path)

print("\nData:")

df1=wellTime1.df()
df1.head()

df1.tail()

Data:

,BIT DEPTH,TOTAL DEPTH,LAGGED TOTAL DEPTH,HOOK HEIGHT,WEIGHT ON HOOK,WEIGHT ON BIT DRILLER,WEIGHT ON HOOK MIN,WEIGHT ON HOOK MAX,SURFACE TORQUE MIN,SURFACE TORQUE MAX,...,H2S @ RIG FLOOR,H2S OUT,TOTAL GAS OUT 1,C1 OUT 1,C2 OUT 1,C3 OUT 1,IC4 OUT 1,NC4 OUT 1,IC5 OUT 1,NC5 OUT 1
ETIM,,,,,,,,,,,,,,,,,,,,,
75.0,2313.91,2378.88,2378.87,12.11,107.94,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0358,122.0,3.0,1.0,4.0,0.0,15.0,0.0
80.0,2313.91,2378.88,2378.87,12.11,107.94,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0357,122.0,3.0,1.0,4.0,0.0,15.0,0.0
85.0,2313.91,2378.88,2378.87,12.11,107.39,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0360,122.0,3.0,1.0,4.0,0.0,15.0,0.0
90.0,2313.91,2378.88,2378.87,12.11,107.39,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0361,123.0,3.0,1.0,4.0,0.0,15.0,0.0
95.0,2313.91,2378.88,2378.87,12.11,107.94,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0360,123.0,3.0,1.0,4.0,0.0,15.0,0.0

In [18]:
las_file_path = 'Data/LAS/Barossa-6_24hrs Time Ascii_020517.LAS'

wellTime1 = lasio.read(las_file_path)

print("\nData:")

df2=wellTime1.df()
df2.head()

Data:

,BIT DEPTH,TOTAL DEPTH,LAGGED TOTAL DEPTH,HOOK HEIGHT,WEIGHT ON HOOK,WEIGHT ON BIT DRILLER,WEIGHT ON HOOK MIN,WEIGHT ON HOOK MAX,SURFACE TORQUE MIN,SURFACE TORQUE MAX,...,H2S @ RIG FLOOR,H2S OUT,TOTAL GAS OUT 1,C1 OUT 1,C2 OUT 1,C3 OUT 1,IC4 OUT 1,NC4 OUT 1,IC5 OUT 1,NC5 OUT 1
ETIM,,,,,,,,,,,,,,,,,,,,,
0.0,2313.91,2378.88,2378.87,12.11,107.39,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0362,123.0,3.0,1.0,4.0,0.0,15.0,0.0
5.0,2313.91,2378.88,2378.87,12.11,107.39,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0361,123.0,3.0,1.0,4.0,0.0,15.0,0.0
10.0,2313.91,2378.88,2378.87,12.11,107.39,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0360,123.0,3.0,1.0,4.0,0.0,15.0,0.0
15.0,2313.91,2378.88,2378.87,12.11,107.39,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0360,123.0,3.0,1.0,4.0,0.0,15.0,0.0
20.0,2313.91,2378.88,2378.87,12.11,107.39,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0358,123.0,3.0,1.0,4.0,0.0,15.0,0.0

In [19]:
result_vertical = pd.concat([df1, df2], ignore_index=False)

# Print the result
print("Result after vertical concatenation:")
result_vertical.head()

result_vertical.tail()

Result after vertical concatenation:

,BIT DEPTH,TOTAL DEPTH,LAGGED TOTAL DEPTH,HOOK HEIGHT,WEIGHT ON HOOK,WEIGHT ON BIT DRILLER,WEIGHT ON HOOK MIN,WEIGHT ON HOOK MAX,SURFACE TORQUE MIN,SURFACE TORQUE MAX,...,H2S @ RIG FLOOR,H2S OUT,TOTAL GAS OUT 1,C1 OUT 1,C2 OUT 1,C3 OUT 1,IC4 OUT 1,NC4 OUT 1,IC5 OUT 1,NC5 OUT 1
ETIM,,,,,,,,,,,,,,,,,,,,,
75.0,2944.44,2944.44,2916.45,5.16,299.32,38.49,299.44,299.44,6890.67,6890.67,...,0.0,NaN,0.2092,1848.0,51.0,23.0,16.0,2.0,14.0,0.0
80.0,2944.47,2944.47,2916.51,5.13,298.93,39.20,298.85,298.85,6857.78,6857.78,...,0.0,NaN,0.2083,1842.0,51.0,23.0,16.0,2.0,14.0,0.0
85.0,2944.53,2944.53,2916.55,5.07,298.12,39.44,298.22,298.22,6694.24,6694.24,...,0.0,NaN,0.2075,1837.0,51.0,23.0,16.0,2.0,14.0,0.0
90.0,2944.57,2944.57,2916.56,5.03,298.28,39.21,298.51,298.51,6789.10,6789.10,...,0.0,NaN,0.2077,1831.0,50.0,22.0,16.0,2.0,14.0,0.0
95.0,2944.60,2944.60,2916.64,5.00,299.56,38.22,299.70,299.70,6930.75,6930.75,...,0.0,NaN,0.2072,1826.0,50.0,22.0,16.0,2.0,14.0,0.0

In [21]:
print("Is the head of result_vertical equal to df1? " + str(result_vertical.head().equals(df1.head())))

Is the head of result_vertical equal to df1? True

In [23]:
print("Is the tail of result_vertical equal to df2? " + str(result_vertical.tail().equals(df2.tail())))

Is the tail of result_vertical equal to df2? True

In [25]:
print("Number of rows in df1: "+str(len(df1)) + ", Number of rows in df2: ", str(len(df2)))

Number of rows in df1: 17280, Number of rows in df2:  17280

In [26]:
print("Number of lines in result_vertical : "+str(len(result_vertical)))

Number of lines in result_vertical : 34560

In [27]:
df_reset = result_vertical.reset_index()
df_reset.tail()

# Plot the values of the 'Values' column horizontally
df_reset['ETIM'][-200:].plot(kind='line', marker='o', linestyle='-', color='skyblue')

# Customize the plot
plt.title('ETIM plot')
plt.xlabel('Index')
plt.ylabel('ETIM')
plt.show()

In [29]:
data = {
    'Depth': [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000],
    'ROP': [45, 55, 60, 40, 70, 30, 80, 20, 90, 25]
}

df = pd.DataFrame(data)

# Create groups based on the condition ROP > 50
groups = df.groupby(df['ROP'] > 50)

# Print the groups
for name, group in groups:
    print(f"Group: {name}")
    print(group)
    print("\n")

Group: False
   Depth  ROP
0    100   45
3    400   40
5    600   30
7    800   20
9   1000   25


Group: True
   Depth  ROP
1    200   55
2    300   60
4    500   70
6    700   80
8    900   90

In [32]:
from bs4 import BeautifulSoup

WITSML_file = r"Data/WITSML/1-2.xml"

with open(WITSML_file) as f:
    data = f.read()
    
data_xml = BeautifulSoup(data, 'xml')
# Print the tags in the file
temp = set([str(tag.name) for tag in data_xml.find_all()])
print ("\n".join(temp))

typeLithology
mudLogCompany
commonTime
priv_userLastChange
rpmAv
nameWell
ethMx
npentAv
tqAv
npentMx
gasBackgnd
type
ipentAv
lithology
ropAv
propAv
methMn
dTim
ethAv
priv_dTimReceived
name
codeLith
geologyInterval
ibutAv
npentMn
mudGas
dTimCreation
priv_ipOwner
priv_ipLastChange
dTimLastChange
relatedLog
ecdTdAv
sourceName
nameWellbore
wobAv
lithPc
itemState
startMd
gasPeak
priv_userOwner
ibutMn
dxcAv
ropMx
mudLog
mdTop
mudLogs
abundance
methAv
ipentMn
ibutMx
nbutAv
commonData
methMx
ropMn
propMn
propMx
ethMn
nbutMx
wtMudAv
gasAv
qualifier
ipentMx
nbutMn
chromatograph
endMd
mdBottom

In [33]:
tags_at_level = data_xml.find_all(lambda tag: len(tag.find_parents()) == 4)

df=pd.DataFrame()
ilitho=-1
row={}
for index,tag in enumerate(tags_at_level):
    if tag.name not in df.columns:
        df[tag.name]=0
    if tag.name=="typeLithology":
        ilitho+=1
        #print("New Horizon - "+str(ilitho))
        #print(row)
        if ilitho:
            df=pd.concat([df,pd.DataFrame([row])],ignore_index=True)
            row={}
    try:
        row[tag.name]=float(tag.text)
    except:
        row[tag.name]=tag.text
    #print(f"{ilitho} - {tag.name}: {tag.text}")
    
df.head(10)

,typeLithology,mdTop,mdBottom,dTim,ropAv,ropMn,ropMx,wobAv,tqAv,rpmAv,...,mudGas,sourceName,dTimCreation,dTimLastChange,itemState,priv_userLastChange,priv_ipLastChange,priv_userOwner,priv_ipOwner,priv_dTimReceived
0,\n\t\t\t\tinterpreted\n\t\t\t,1380.1,1410.0,\n\t\t\t\t2013-11-10T22:49:01.000Z\n\t\t\t,0.005363,0.000400,0.001667,79490.036395,11037.087490,1.421590,...,0,0,0,0,0,0,0,0,0,0
1,\n\t\t\t\tcuttings\n\t\t\t,1410.0,1440.0,\n\t\t\t\t2013-11-10T22:49:01.000Z\n\t\t\t,0.007997,0.001624,0.002659,49199.723551,10937.664001,1.999623,...,\n\n\t\t\t\t\t2066\n\t\t\t\t\n\n\t\t\t\t\t2078...,0,0,0,0,0,0,0,0,0
2,\n\t\t\t\tcuttings\n\t\t\t,1410.0,1410.0,\n\t\t\t\t2013-11-28T22:05:13.000Z\n\t\t\t,NaN,NaN,NaN,NaN,NaN,NaN,...,\n\n\t\t\t\t\t2478\n\t\t\t\t\n\n\t\t\t\t\t2522...,0,0,0,0,0,0,0,0,0
3,\n\t\t\t\tinterpreted\n\t\t\t,1410.0,1440.0,\n\t\t\t\t2013-11-11T02:57:30.000Z\n\t\t\t,0.007997,0.001624,0.002659,49199.723551,10937.664001,1.999623,...,NaN,0,0,0,0,0,0,0,0,0
4,\n\t\t\t\tinterpreted\n\t\t\t,1440.0,1460.0,\n\t\t\t\t2013-11-14T03:54:59.000Z\n\t\t\t,0.007806,0.002668,0.003152,33501.490523,10582.888750,1.936630,...,NaN,0,0,0,0,0,0,0,0,0
5,\n\t\t\t\tcuttings\n\t\t\t,1440.0,1470.0,\n\t\t\t\t2013-11-11T02:11:47.000Z\n\t\t\t,0.008109,0.002668,0.003398,36392.208335,10908.709126,1.958701,...,\n\n\t\t\t\t\t2223\n\t\t\t\t\n\n\t\t\t\t\t4317...,0,0,0,0,0,0,0,0,0
6,\n\t\t\t\tinterpreted\n\t\t\t,1460.0,1500.0,\n\t\t\t\t2013-11-11T02:57:31.000Z\n\t\t\t,0.007935,0.003160,0.003910,38287.602536,11219.619751,1.998267,...,NaN,0,0,0,0,0,0,0,0,0
7,\n\t\t\t\tcuttings\n\t\t\t,1470.0,1500.0,\n\t\t\t\t2013-11-11T02:11:47.000Z\n\t\t\t,0.007676,0.003404,0.003910,37024.162808,11110.287915,1.997153,...,\n\n\t\t\t\t\t2722\n\t\t\t\t\n\n\t\t\t\t\t2981...,0,0,0,0,0,0,0,0,0
8,\n\t\t\t\tinterpreted\n\t\t\t,1500.0,1530.0,\n\t\t\t\t2013-11-11T03:35:05.000Z\n\t\t\t,0.007794,0.003916,0.004318,40566.284640,10469.506552,2.171137,...,NaN,0,0,0,0,0,0,0,0,0
9,\n\t\t\t\tcuttings\n\t\t\t,1500.0,1530.0,\n\t\t\t\t2013-11-11T03:35:04.000Z\n\t\t\t,0.007794,0.003916,0.004318,40566.284640,10469.506552,2.171137,...,\n\n\t\t\t\t\t2772\n\t\t\t\t\n\n\t\t\t\t\t2813...,0,0,0,0,0,0,0,0,0

In [35]:
df['ropAv']=df['ropAv']*3600

In [36]:
df.head(10)

,typeLithology,mdTop,mdBottom,dTim,ropAv,ropMn,ropMx,wobAv,tqAv,rpmAv,...,mudGas,sourceName,dTimCreation,dTimLastChange,itemState,priv_userLastChange,priv_ipLastChange,priv_userOwner,priv_ipOwner,priv_dTimReceived
0,\n\t\t\t\tinterpreted\n\t\t\t,1380.1,1410.0,\n\t\t\t\t2013-11-10T22:49:01.000Z\n\t\t\t,19.307081,0.000400,0.001667,79490.036395,11037.087490,1.421590,...,0,0,0,0,0,0,0,0,0,0
1,\n\t\t\t\tcuttings\n\t\t\t,1410.0,1440.0,\n\t\t\t\t2013-11-10T22:49:01.000Z\n\t\t\t,28.790810,0.001624,0.002659,49199.723551,10937.664001,1.999623,...,\n\n\t\t\t\t\t2066\n\t\t\t\t\n\n\t\t\t\t\t2078...,0,0,0,0,0,0,0,0,0
2,\n\t\t\t\tcuttings\n\t\t\t,1410.0,1410.0,\n\t\t\t\t2013-11-28T22:05:13.000Z\n\t\t\t,NaN,NaN,NaN,NaN,NaN,NaN,...,\n\n\t\t\t\t\t2478\n\t\t\t\t\n\n\t\t\t\t\t2522...,0,0,0,0,0,0,0,0,0
3,\n\t\t\t\tinterpreted\n\t\t\t,1410.0,1440.0,\n\t\t\t\t2013-11-11T02:57:30.000Z\n\t\t\t,28.790810,0.001624,0.002659,49199.723551,10937.664001,1.999623,...,NaN,0,0,0,0,0,0,0,0,0
4,\n\t\t\t\tinterpreted\n\t\t\t,1440.0,1460.0,\n\t\t\t\t2013-11-14T03:54:59.000Z\n\t\t\t,28.101236,0.002668,0.003152,33501.490523,10582.888750,1.936630,...,NaN,0,0,0,0,0,0,0,0,0
5,\n\t\t\t\tcuttings\n\t\t\t,1440.0,1470.0,\n\t\t\t\t2013-11-11T02:11:47.000Z\n\t\t\t,29.192465,0.002668,0.003398,36392.208335,10908.709126,1.958701,...,\n\n\t\t\t\t\t2223\n\t\t\t\t\n\n\t\t\t\t\t4317...,0,0,0,0,0,0,0,0,0
6,\n\t\t\t\tinterpreted\n\t\t\t,1460.0,1500.0,\n\t\t\t\t2013-11-11T02:57:31.000Z\n\t\t\t,28.566144,0.003160,0.003910,38287.602536,11219.619751,1.998267,...,NaN,0,0,0,0,0,0,0,0,0
7,\n\t\t\t\tcuttings\n\t\t\t,1470.0,1500.0,\n\t\t\t\t2013-11-11T02:11:47.000Z\n\t\t\t,27.632985,0.003404,0.003910,37024.162808,11110.287915,1.997153,...,\n\n\t\t\t\t\t2722\n\t\t\t\t\n\n\t\t\t\t\t2981...,0,0,0,0,0,0,0,0,0
8,\n\t\t\t\tinterpreted\n\t\t\t,1500.0,1530.0,\n\t\t\t\t2013-11-11T03:35:05.000Z\n\t\t\t,28.056770,0.003916,0.004318,40566.284640,10469.506552,2.171137,...,NaN,0,0,0,0,0,0,0,0,0
9,\n\t\t\t\tcuttings\n\t\t\t,1500.0,1530.0,\n\t\t\t\t2013-11-11T03:35:04.000Z\n\t\t\t,28.056770,0.003916,0.004318,40566.284640,10469.506552,2.171137,...,\n\n\t\t\t\t\t2772\n\t\t\t\t\n\n\t\t\t\t\t2813...,0,0,0,0,0,0,0,0,0

In [38]:
# Create groups based on the condition ROP > 10
groups = df.groupby(df['ropAv'] > 10)

print("True Group")
groups.get_group(True).head()



print("False Group")
groups.get_group(False).head()

True Group
False Group

,typeLithology,mdTop,mdBottom,dTim,ropAv,ropMn,ropMx,wobAv,tqAv,rpmAv,...,mudGas,sourceName,dTimCreation,dTimLastChange,itemState,priv_userLastChange,priv_ipLastChange,priv_userOwner,priv_ipOwner,priv_dTimReceived
2,\n\t\t\t\tcuttings\n\t\t\t,1410.0,1410.0,\n\t\t\t\t2013-11-28T22:05:13.000Z\n\t\t\t,NaN,NaN,NaN,NaN,NaN,NaN,...,\n\n\t\t\t\t\t2478\n\t\t\t\t\n\n\t\t\t\t\t2522...,0,0,0,0,0,0,0,0,0
79,\n\t\t\t\tinterpreted\n\t\t\t,2177.4,2178.7,\n\t\t\t\t2013-12-01T21:20:54.000Z\n\t\t\t,7.258049,0.007088,0.007117,130959.57250,19106.99600,2.281015,...,NaN,0,0,0,0,0,0,0,0,0
119,\n\t\t\t\tinterpreted\n\t\t\t,2387.0,2388.3,\n\t\t\t\t2013-12-01T20:19:43.000Z\n\t\t\t,4.489344,0.006774,0.006884,142062.03200,19451.80600,1.697623,...,NaN,0,0,0,0,0,0,0,0,0
126,\n\t\t\t\tinterpreted\n\t\t\t,2420.2,2421.3,\n\t\t\t\t2013-12-01T20:20:26.000Z\n\t\t\t,5.820936,0.006558,0.006584,128917.69750,20921.20950,1.763420,...,NaN,0,0,0,0,0,0,0,0,0
128,\n\t\t\t\tcuttings\n\t\t\t,2430.0,2460.0,\n\t\t\t\t2013-11-16T13:01:06.000Z\n\t\t\t,7.917852,0.005987,0.006542,122432.33119,20976.48349,1.919658,...,\n\n\t\t\t\t\t1057\n\t\t\t\t\n\n\t\t\t\t\t1142...,0,0,0,0,0,0,0,0,0